<%= div_for comment do %>
    <h3> <%=comment.persona.nombre + ' ' + comment.persona.apellido%></h3><h4>(<%=comment.persona.username%>)</h4>
    <p>
        <%=simple_format comment.cuerpo%>
    </p>
    <p class="fecha">
        <%=time_ago_in_words(comment.updated_at).capitalize + "."%>
    </p>
<% end %>
