<%= div_for comment do %>
    <h3> <%=comment.persona.nombre + ' ' + comment.persona.apellido%></h3><h4>(<%=comment.persona.username%>)</h4>
    <p>
        <%=simple_format comment.cuerpo%>
    </p>
    <p class="fecha">
        <%=time_ago_in_words(comment.updated_at).capitalize + "."%>
    </p>
    <%unless comment.persona.id != session[:usuario_id].to_i%>  
        <a href="#" class="delete_comment" onclick='$.get("/comments/<%=comment.id%>/delete/<%=comment.noticia_id%>", null,
                    function(data){
                        $("#comment_<%=comment.id%>").hide("scale",{duration: 3000});
                    });
                return false;'>
            <img src="/picture/icon/delete.png" width="20" />
        </a>
    <%end%>
<% end %>
