<!DOCTYPE html>
<html>
<head>
  <title>Angry Birds Fan Club</title>
  <link rel="shortcut icon" href="/favicon1.ico" />
  <link rel="stylesheet" href="/css/stylesheetAll.css">
  <link rel="stylesheet" type="text/css" href="/css/stylesheetNoScript.css" />
  <link rel="stylesheet" type="text/css" href="/css/stylesheetLoad.css" />
  <link rel="stylesheet" type="text/css" href="/css/stylesheetadmin.css" />
</head>
<body>
<div id="loading">
  <div id="background"></div>
  <div id="midground"></div>
  <div id="foreground"></div>
  <div id="tapa"></div>
  <div class="bokeh">
    <img id="bokeh1" src="/picture/space/ice.png" height="100px" >
    <img id="bokeh2" src="/picture/space/bomb.png" height="100px">
    <img id="bokeh3" src="/picture/space/green.png" height="100px">
    <img id="bokeh4" src="/picture/space/laser.png" height="100px">
    <div id="circulo"></div>
  </div>
  <div id="bokehText">
    <p>Cargando...</p>
  </div>
</div>
<div id="page">
  <div id="espera">
    <div id="espera_img">
      <img src="/picture/gif_loading/5.gif"/>
      <div id="followingBallsG">
        <div id="followingBallsG_1" class="followingBallsG">
        </div>
        <div id="followingBallsG_2" class="followingBallsG">
        </div>
        <div id="followingBallsG_3" class="followingBallsG">
        </div>
        <div id="followingBallsG_4" class="followingBallsG">
        </div>
      </div>
    </div>

  </div>

  <div id="body">
    <div id="header">
      <p>Administrador</p>
      <ul>
        <a href="/admin">
          <li>
            Resumen
          </li>
        </a>
        <a href="/admin/usuarios">
          <li>
            Usuarios
          </li>
        </a>
        <li class="seleccionado">
          Noticias
        </li>
        <a href="/admin/imagenes">
          <li>
            Imagenes
          </li>
        </a>
        <a href="/admin/videos">
          <li>
            Videos
          </li>
        </a>
        <a href="/admin/novedades">
          <li>
            Novedades
          </li>
        </a>
        <a href="/admin/permisos">
          <li>
            Permisos
          </li>
        </a>
      </ul>
    </div>
    <div id="main">
      <div id="filtro_busq">
        <h1 style="position: relative;text-align: center;margin:20px auto;border: none">Filtro de búsqueda</h1>
        <div class="limitador3"></div>
        <label>Titulo:</label>
        <input class="txtInput" type="text" id="noticia_titulo">
        <br/>
        <div class="limitador3"></div>
        <label>Contenido:</label>
        <input class="txtInput" type="text" id="noticia_cuerpo">
        <br/>
        <div class="limitador3"></div>
        <label>Estrellas:</label>
        <div style="width: 40%;position: relative;display: inline-block; padding: 0 10px 0 10px;">
          <select id="noticia_estrella" style="text-align: center">
            <option value="0" >Cualquiera</option>
            <option value="1">1 estrella</option>
            <option value="2">2 estrellas</option>
            <option value="3">3 estrellas</option>
          </select>
        </div>
        <br/>
        <div class="limitador3"></div>
        <input type="button" value="Listar Todas" id="boton_all">
        <input type="button" value="Buscar" id="boton_buscar">

      </div>
      <div id="filtro_busq_boton" class="filtro_busq_boton_show">Mostrar Filtros</div>
      <div id="listadoNoticia">
        <% @noticias.each do |noti| %>
            <div id="noti_<%=noti.id%>">
              <div class="limitador"></div>
              <div class="itemNoticia">
                <h1><%= noti.titulo %></h1>

                <%if noti.cuerpo.size < 200 %>
                    <%=simple_format noti.cuerpo%>
                <%else%>
                    <%=simple_format noti.cuerpo.at(0..197) +"..."%>
                <%end%>
                <%unless noti.imagen.nil?%>
                    <img src="<%=noti.imagen.url%>" >
                <%end%>
                <div class="limitador3"></div>
                <p style="margin: 0 auto; color: #000000; text-align: center; margin-top: -20px; margin-bottom: -20px;text-shadow: none; font-weight: normal; font-size: 20px">(Publicado por: <a style="text-decoration: none;color: #000000; text-shadow: 0 0 2px white" href="/admin/usuarios/<%=noti.persona.id%>"><%= noti.persona.username%></a>)</p>
                <div class="limitador3"></div>
                <a href="/noticias/<%=noti.id%>" style="text-decoration: none; position: relative" ><div class="boton">Ver</div></a>
                <a href="/noticias/<%=noti.id%>/edit" style="text-decoration: none; position: relative; margin: 0 20px 0 20px" ><div class="boton">Editar</div></a>
                <input type="button" style="cursor: pointer" value="Eliminar" class="boton" onclick="eliminar(<%=noti.id%>)">

              </div>
              <div class="limitador"></div>
            </div>
        <%end%>
        <%= will_paginate @noticias, :previous_label => t("< anterior"), :next_label => t("siguiente >"), :page_gap => "...", :outer_window   => '1', :inner_window => '1', :link_separator => ' - ' %>
      </div>
    </div>
  </div>
  <div id="footer">
    <a href="/noticias" style="position: absolute; right: 20px; bottom: 15px;">
      <img src="/picture/icon/to_normal.png" height="80px" />
    </a>
    <a href="/logout" style="position: absolute; left:20px; bottom: 0px;">
      <img src="/picture/exit1.png" style=" margin-top: 30px; margin-left: 20px;">

    </a>
  </div>
</div>

<script src= '/js/scriptLoad.js' > </script>
<script language="javascript">
    window.onload = inicio;
</script>
<noscript><div id="noscript"><br/>Javascript deshabilitado: para poder apreciar la pagina web por favor activa javascript en tu navegador</div></noscript>
<script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js" ></script>
<script src="/js/jquery.backgroundPosition.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){

        $('#midground').css({backgroundPosition: '0px 0px'});
        $('#foreground').css({backgroundPosition: '0px 0px'});
        $('#background').css({backgroundPosition: '0px 0px'});

        $('#midground').animate({
            backgroundPosition:"(-10000px -2000px)"
        }, 240000, 'linear');

        $('#foreground').animate({
            backgroundPosition:"(-10000px -2000px)"
        }, 120000, 'linear');

        $('#background').animate({
            backgroundPosition:"(-10000px -2000px)"
        }, 480000, 'linear');

    });
</script>
<script>
    $(function() {
        if ($.browser.opera || $.browser.msie ) {
            alert( "Por favor no uses este navegador. Usa firefox o Chrome. Si no los tienes instalalos." );
        }
    });
</script>
<script>
    (function($) {
        $.get = function(key)   {
            key = key.replace(/[\[]/, '\\[');
            key = key.replace(/[\]]/, '\\]');
            var pattern = "[\\?&]" + key + "=([^&#]*)";
            var regex = new RegExp(pattern);
            var url = unescape(window.location.href);
            var results = regex.exec(url);
            if (results === null) {
                return null;
            } else {
                return results[1];
            }
        }
    })(jQuery);

    function to_bolean(string){
        if(string == "true"){
            return true;
        }else{
            return false;
        }

    }
</script>
<script>
    $(function(){
        $("#noticia_titulo").val($.get("tit"));
        $("#noticia_cuerpo").val($.get("cue"));
        $("#noticia_estrella").val($.get("est"));
    });
</script>
<script>
    $("#filtro_busq_boton").click(function(){
        $("#filtro_busq").toggle("blind");
        $("#filtro_busq_boton").toggleClass("filtro_busq_boton_hide");
        $("#filtro_busq_boton").toggleClass("filtro_busq_boton_show");
        var texto = $("#filtro_busq_boton").html();
        if(texto == "Mostrar Filtros"){
            $("#filtro_busq_boton").html("Ocultar Filtros");
        }else{
            $("#filtro_busq_boton").html("Mostrar Filtros");
        }
    });
    $("#boton_buscar").click(function(){
        var tit = $("#noticia_titulo").val();
        var cue = $("#noticia_cuerpo").val();
        var est = $("#noticia_estrella").val();
        var url = "/admin/noticias?tit="+tit+"&cue="+cue+"&est="+est;
        $(location).attr('href',url)
    });
    $("#boton_all").click(function(){
        $(location).attr('href',"/admin/noticias")
    });
</script>
<script>
    function eliminar(id){
        var id_noticia = "#noti_"+id;
        var url = "/noticia/"+id+"/delete";
        $("#espera").show();
        var request = $.ajax({
            type: "GET",
            url: url
        });

        request.done(function(  ) {
            $("#espera").hide();
            $(id_noticia).hide("blind",2000);
        });
        request.fail(function(){
            $("#espera").hide();
        });
    }
</script>
</body>
</html>
