<!DOCTYPE html>
<html>
<head>
  <title>Angry Birds Fan Club</title>
  <link rel="shortcut icon" href="/favicon1.ico" />
  <link rel="stylesheet" href="/css/stylesheetAll.css">
  <link rel="stylesheet" type="text/css" href="/css/stylesheetNoScript.css" />
  <link rel="stylesheet" type="text/css" href="/css/stylesheetLoad.css" />
  <link rel="stylesheet" type="text/css" href="/css/stylesheetadmin.css" />
</head>
<body>
<div id="loading">
  <div id="background"></div>
  <div id="midground"></div>
  <div id="foreground"></div>
  <div id="tapa"></div>
  <div class="bokeh">
    <img id="bokeh1" src="/picture/space/ice.png" height="100px" >
    <img id="bokeh2" src="/picture/space/bomb.png" height="100px">
    <img id="bokeh3" src="/picture/space/green.png" height="100px">
    <img id="bokeh4" src="/picture/space/laser.png" height="100px">
    <div id="circulo"></div>
  </div>
  <div id="bokehText">
    <p>Cargando...</p>
  </div>
</div>

<div id="page">
  <div id="espera">
    <div id="espera_img">
      <img src="/picture/gif_loading/5.gif"/>
      <div id="followingBallsG">
        <div id="followingBallsG_1" class="followingBallsG">
        </div>
        <div id="followingBallsG_2" class="followingBallsG">
        </div>
        <div id="followingBallsG_3" class="followingBallsG">
        </div>
        <div id="followingBallsG_4" class="followingBallsG">
        </div>
      </div>
    </div>

  </div>
  <div id="fondo_eliminar">
    <div>
      ¿Desea eliminar este usuario?
      <a href="#" id="cancel_eliminar">Cancelar </a>
      <a href="#" id="confirm_eliminar">Eliminar </a>
    </div>
  </div>
  <div id="body">
    <div id="header">
      <p>Administrador</p>
      <ul>
        <a href="/admin">
          <li>
            Resumen
          </li>
        </a>
        <li class="seleccionado">
          Usuarios
        </li>
        <a href="/admin/noticias">
          <li>
            Noticias
          </li>
        </a>
        <a href="/admin/imagenes">
          <li>
            Imagenes
          </li>
        </a>
        <a href="/admin/videos">
          <li>
            Videos
          </li>
        </a>
        <a href="/admin/novedades">
          <li>
            Novedades
          </li>
        </a>
      </ul>
    </div>
    <div id="main">
      <h1 id="titulo"><%= @usuario.nombre + ' ' + @usuario.apellido%></h1>
      <ul id="pestaña">
        <li class="pestaña_select" data-link="#info" >Información</li>
        <li class="pestaña_no_select"data-link="#pub">Resumen Publicaciones</li>
        <li class="pestaña_no_select" data-link="#admin">Administración de cuenta</li>
      </ul>
      <div id="contenedor">
        <div id="info" style="display: block" class="contenido">
          <%= form_for @usuario, :html=> {:id => 'data_user'} do |f| %>
            <ul class="listado_form_info">
              <li>
                <%= f.label "Nombre:", :class => 'label'%>
                <%= f.text_field :nombre , :size => 15, :class => 'txtInput' %>
              </li>
              <div class="limitador3"></div>
              <li>
                <%= f.label "Apellido:", :class => 'label'%>
                <%= f.text_field :apellido, :size => 15 ,:class => 'txtInput'%>
              </li>
              <div class="limitador3"></div>
              <li>
                <%= f.label "Usuario:", :class => 'label'%>
                <%= f.text_field :username, :size => 40 ,:class => 'txtInput', :readonly=>"readonly"%>
              </li>
              <div class="limitador3"></div>
              <li>
                <%= f.label "E-Mail:", :class => 'label'%>
                <%= f.text_field :email ,:class => 'txtInput', :readonly=>"readonly"%>
              </li>
              <div class="limitador3"></div>
              <li>
                <%= f.label "Género:", :class => 'label', :style=>"text-align: center; width: 100%;"%><br/>
                <div id="genero">
            		<span class="cool_checkbox">
            			<%= f.check_box :genero %>
                      <label for="persona_genero">
                        <span><p class="etiqueta_genero">Hombre</p> <img src="/picture/hombre.png"> </span>
            					<span>
            						<span>/</span>
            					</span>
                        <span><p class="etiqueta_genero">Mujer</p> <img src="/picture/mujer.png" ></span>
                      </label>
            		</span>
                </div>
              </li>
              <div class="limitador3"></div>
              <li>
                <%= f.label "Fecha de Nacimiento:", :class => 'label'%>
                <div style="position: relative;width: 40%; margin: 0 auto; display: inline-block;padding-left: 10px;padding-right: 10px;">
                    <%= f.date_select :fechaNacimiento,:order => [:day, :month, :year], start_year: @year_inicio, end_year: @year_fin, :id => 'fecha' %>
                </div>
              </li>
            </ul>
          <%end%>
        </div>
        <div id="pub" style="display: none; padding-bottom: 20px" class="contenido">

          <h1 class="titulo" style="margin: 20px auto;position: relative;width: 80%;">Noticias</h1>
          <p><%=@total_n.to_i > 1 ? 'Publicó un total de ' + @total_n.to_s + ' noticias' : (@total_n.to_i > 0 ? 'Publicó una noticia' : 'No publicó ninguna noticia')%></p>
          <div id="grafico_progreso_noticia" style="height: 400px; position: relative; margin: 0 auto; margin-top: 20px;margin-bottom: 20px; width: 800px;"></div>
          <a style="padding: 0 10px 0 10px" href="/admin/usuarios/<%=params[:id]%>/noticias" class="boton">Ver detalles</a>

          <h1 class="titulo" style="margin: 20px auto;position: relative;width: 80%;">imagenes</h1>
          <p><%=@total_i.to_i > 1 ? 'Publicó un total de ' + @total_i.to_s + ' imagenes' : (@total_i.to_i > 0 ? 'Publicó una imagen' : 'No publicó ninguna imagen')%></p>
          <div id="grafico_progreso_imagen" style="height: 400px; position: relative; margin: 0 auto; margin-top: 20px;margin-bottom: 20px; width: 800px;"></div>
          <a style="padding: 0 10px 0 10px" href="/admin/usuarios/<%=params[:id]%>/imagenes" class="boton">Ver detalles</a>

          <h1 class="titulo" style="margin: 20px auto;position: relative;width: 80%;">Videos</h1>
          <p><%=@total_v.to_i > 1 ? 'Publicó un total de ' + @total_v.to_s + ' videos' : (@total_v.to_i > 0 ? 'Publicó un video' : 'No publicó ningun video')%></p>
          <div id="grafico_progreso_video" style="height: 400px; position: relative; margin: 0 auto; margin-top: 20px;margin-bottom: 20px; width: 800px;"></div>
          <a style="padding: 0 10px 0 10px" href="/admin/usuarios/<%=params[:id]%>/videos" class="boton">Ver detalles</a>
        </div>
        <div id="admin" style="display: none" class="contenido">

          <%= form_for @usuario, :html=> {:id => 'data_account'} do |f| %>
              <ul class="listado_form_admin">
                <li>
                  <ul>
                    <li>
                      <div class="checkbox-label">
                        <h3>Activo:</h3>
                      </div>
                    </li>
                    <li>
                      <div class="onoffswitch">
                        <%= f.check_box :activo, :class=>"onoffswitch-checkbox", :id=>"activo-checkbox"  %>
                        <label class="onoffswitch-label" for="activo-checkbox">
                          <div class="onoffswitch-inner"></div>
                          <div class="onoffswitch-switch"></div>
                        </label>
                      </div>
                    </li>
                  </ul>
                </li>
                <div class="limitador2"></div>
                <li>
                  <ul>
                    <li>
                      <div class="checkbox-label">
                        <h3>Bloqueado:</h3>
                      </div>
                    </li>
                    <li>
                      <div class="onoffswitch">
                        <%= f.check_box :bloqueado, :class=>"onoffswitch-checkbox", :id=>"bloqueado-checkbox"  %>
                        <label class="onoffswitch-label" for="bloqueado-checkbox">
                          <div class="onoffswitch-inner"></div>
                          <div class="onoffswitch-switch"></div>
                        </label>
                      </div>
                    </li>
                  </ul>
                </li>
                <div class="limitador2"></div>
                <li>
                  <ul>
                    <li>
                      <div class="checkbox-label">
                        <h3>Administrador:</h3>
                      </div>
                    </li>
                    <li>
                      <div class="onoffswitch">
                        <%= f.check_box :admin, :class=>"onoffswitch-checkbox", :id=>"admin-checkbox"  %>
                        <label class="onoffswitch-label" for="admin-checkbox">
                          <div class="onoffswitch-inner"></div>
                          <div class="onoffswitch-switch"></div>
                        </label>
                      </div>
                    </li>
                    <div class="limitador2"></div>
                    <li style="width: 100%; display: inline-block; position: relative">
                        <input type="button" value="Eliminar Usuario" id="boton_delete">
                    </li>
                  </ul>
                </li>
              </ul>
          <% end %>
        </div>
      </div>

       <a id="link_back" href="/admin/usuarios"><-Volver al Listado de Usuarios</a>
    </div>

  </div>
  <div id="footer">
    <a href="/" style="position: absolute; right: 20px; bottom: 15px;">
      <img src="/picture/icon/to_normal.png" height="80px" />
    </a>
    <a href="/logout" style="position: absolute; left:20px; bottom: 0px;">
      <img src="/picture/exit1.png" style=" margin-top: 30px; margin-left: 20px;">

    </a>
  </div>
</div>

<script src= '/js/scriptLoad.js' > </script>
<script language="javascript">
    window.onload = inicio;
</script>
<noscript><div id="noscript"><br/>Javascript deshabilitado: para poder apreciar la pagina web por favor activa javascript en tu navegador</div></noscript>
<script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/js/jquery.backgroundPosition.js" type="text/javascript"></script>
<script src="/js/morris.min.js" type="text/javascript"></script>
<script src="/js/raphael-min.js" type="text/javascript"></script>
<script src="/js/highcharts.js" type="text/javascript"></script>



<script type="text/javascript">
    $(function(){

        $('#midground').css({backgroundPosition: '0px 0px'});
        $('#foreground').css({backgroundPosition: '0px 0px'});
        $('#background').css({backgroundPosition: '0px 0px'});

        $('#midground').animate({
            backgroundPosition:"(-10000px -2000px)"
        }, 240000, 'linear');

        $('#foreground').animate({
            backgroundPosition:"(-10000px -2000px)"
        }, 120000, 'linear');

        $('#background').animate({
            backgroundPosition:"(-10000px -2000px)"
        }, 480000, 'linear');

    });
</script>
<script>
    $(function() {
        if ($.browser.opera || $.browser.msie ) {
            alert( "Por favor no uses este navegador. Usa firefox o Chrome. Si no los tienes instalalos." );
        }
    });
</script>
<script>

    $("#pestaña li").click(function(){
        $("#pestaña li").removeClass("pestaña_select");
        $("#pestaña li").addClass("pestaña_no_select");
        $(this).removeClass("pestaña_no_select");
        $(this).addClass("pestaña_select");
        $(".contenido").hide();
        var activeTab = $(this).attr('data-link');
        $(activeTab).show();
    });
    $("#activo-checkbox").change(function(){
        $("#espera").show();
        var valor = $(this).prop('checked');
        var request = $.ajax({
            type: "PUT",
            url: "/admin/usuarios/<%= @usuario.id %>/change_atributo",
            data: { atributo: "activo", valor: valor}
        });
        request.done(function(  ) {
            $("#espera").hide();
        });
        request.fail(function(){
            $("#espera").hide();
        });
    });
    $("#bloqueado-checkbox").change(function(){
        $("#espera").show();
        var valor = $(this).prop('checked');
        var request = $.ajax({
            type: "PUT",
            url: "/admin/usuarios/<%= @usuario.id %>/change_atributo",
            data: { atributo: "bloqueado", valor: valor}
        });

        request.done(function(  ) {
            $("#espera").hide();
        });
        request.fail(function(){
            $("#espera").hide();
        });
    });
    $("#admin-checkbox").change(function(){
        $("#espera").show();
        var valor = $(this).prop('checked');
        var request = $.ajax({
            type: "PUT",
            url: "/admin/usuarios/<%= @usuario.id %>/change_atributo",
            data: { atributo: "admin", valor: valor}
        });

        request.done(function(  ) {
            $("#espera").hide();
        });
        request.fail(function(){
            $("#espera").hide();
        });
    });
    $("#persona_nombre").change(function(){
        $("#espera").show();
        var valor = $(this).val();
        var request = $.ajax({
            type: "PUT",
            url: "/admin/usuarios/<%= @usuario.id %>/change_atributo",
            data: { atributo: "nombre", valor: valor}
        });

        request.done(function(  ) {
            $("#espera").hide();
        });
        request.fail(function(){
            $("#espera").hide();
        });
    });
    $("#persona_apellido").change(function(){
        $("#espera").show();
        var valor = $(this).val();
        var request = $.ajax({
            type: "PUT",
            url: "/admin/usuarios/<%= @usuario.id %>/change_atributo",
            data: { atributo: "apellido", valor: valor}
        });

        request.done(function(  ) {
            $("#espera").hide();
        });
        request.fail(function(){
            $("#espera").hide();
        });
    });
    $("#persona_genero").change(function(){
        $("#espera").show();
        var valor = $(this).prop('checked');
        var request = $.ajax({
            type: "PUT",
            url: "/admin/usuarios/<%= @usuario.id %>/change_atributo",
            data: { atributo: "genero", valor: valor}
        });

        request.done(function(  ) {
            $("#espera").hide();
        });
        request.fail(function(){
            $("#espera").hide();
        });
    });
    $("#persona_fechaNacimiento_1i").change(function(){
        $("#espera").show();
        var valor1 = $("#persona_fechaNacimiento_1i").val();
        var valor2 = $("#persona_fechaNacimiento_2i").val();
        var valor3 = $("#persona_fechaNacimiento_3i").val();
        var valor = valor1 + "-" +valor2 + "-" +valor3
        var request = $.ajax({
            type: "PUT",
            url: "/admin/usuarios/<%= @usuario.id %>/change_atributo",
            data: { atributo: "fechaNacimiento", valor: valor}
        });

        request.done(function(  ) {
            $("#espera").hide();
        });
        request.fail(function(){
            $("#espera").hide();
        });
    });
    $("#persona_fechaNacimiento_2i").change(function(){
        $("#espera").show();
        var valor1 = $("#persona_fechaNacimiento_1i").val();
        var valor2 = $("#persona_fechaNacimiento_2i").val();
        var valor3 = $("#persona_fechaNacimiento_3i").val();
        var valor = valor1 + "-" +valor2 + "-" +valor3
        var request = $.ajax({
            type: "PUT",
            url: "/admin/usuarios/<%= @usuario.id %>/change_atributo",
            data: { atributo: "fechaNacimiento", valor: valor}
        });

        request.done(function(  ) {
            $("#espera").hide();
        });
        request.fail(function(){
            $("#espera").hide();
        });
    });
    $("#persona_fechaNacimiento_3i").change(function(){
        $("#espera").show();
        var valor1 = $("#persona_fechaNacimiento_1i").val();
        var valor2 = $("#persona_fechaNacimiento_2i").val();
        var valor3 = $("#persona_fechaNacimiento_3i").val();
        var valor = valor1 + "-" +valor2 + "-" +valor3
        var request = $.ajax({
            type: "PUT",
            url: "/admin/usuarios/<%= @usuario.id %>/change_atributo",
            data: { atributo: "fechaNacimiento", valor: valor}
        });

        request.done(function(  ) {
            $("#espera").hide();
        });
        request.fail(function(){
            $("#espera").hide();
        });
    });
    $("#boton_delete").click(function(){
        $("#fondo_eliminar").show();
    });
    $("#cancel_eliminar").click(function(){
        $("#fondo_eliminar").hide();
    });

    $("#confirm_eliminar").click(function(){
        $("#fondo_eliminar").hide();
        var url = "/admin/usuarios";
        $("#espera").show();
        var request = $.ajax({
            type: "DELETE",
            format: "json",
            url: "/personas/<%= @usuario.id %>/delete"
        });

        request.done(function(  ) {
            $(location).attr('href',url)
        });
        request.fail(function(){
            $("#espera").hide();
        });
    });
</script>
<script>
    $(function () {
        $('#grafico_progreso_noticia').highcharts({
            chart: {
                type: "column",
                zoomType: 'x',
                spacingRight: 20
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">Cantidad de Noticias Publicadas: <span style="color:{series.color};padding:0"><strong>{point.y}</strong></span></span>',
                pointFormat: '',
                shared: true,
                useHTML: true
            },
            title: {
                text: ''
            },
            legend: {
                enabled: false
            },
            yAxis: {
                gridLineWidth: 1,
                gridLineColor: "yellow",
                title: {
                    text: ''
                }
            },
            xAxis: {

                lineColor: "#6dd4bc",
                categories: Etiquetas()
            },
            colors:
                    ["#6dd4bc"],
            series: [{
                data: <%= @Progreso_not %>
            }]
        });
        $('#grafico_progreso_imagen').highcharts({
            chart: {
                type: "column",
                zoomType: 'x',
                spacingRight: 20
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">Cantidad de Imagenes Publicadas: <span style="color:{series.color};padding:0"><strong>{point.y}</strong></span></span>',
                pointFormat: '',
                shared: true,
                useHTML: true
            },
            title: {
                text: ''
            },
            legend: {
                enabled: false
            },
            yAxis: {
                gridLineWidth: 1,
                gridLineColor: "yellow",
                title: {
                    text: ''
                }
            },
            xAxis: {

                lineColor: "#6dd4bc",
                categories: Etiquetas()
            },
            colors:
                    ["#6dd4bc"],
            series: [{
                data: <%= @Progreso_img %>
            }]
        });
        $('#grafico_progreso_video').highcharts({
            chart: {
                type: "column",
                zoomType: 'x',
                spacingRight: 20
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">Cantidad de Videos Publicadas: <span style="color:{series.color};padding:0"><strong>{point.y}</strong></span></span>',
                pointFormat: '',
                shared: true,
                useHTML: true
            },
            title: {
                text: ''
            },
            legend: {
                enabled: false
            },
            yAxis: {
                gridLineWidth: 1,
                gridLineColor: "yellow",
                title: {
                    text: ''
                }
            },
            xAxis: {

                lineColor: "#6dd4bc",
                categories: Etiquetas()
            },
            colors:
                    ["#6dd4bc"],
            series: [{
                data: <%= @Progreso_vid %>
            }]
        });
    });
</script>
<script>
  function Etiquetas(){
      return ['11 meses atás','10 meses atás','9 meses atás','8 meses atás','7 meses atás','6 meses atás','5 meses atás','4 meses atás','3 meses atás','2 meses atás','1 mes atás','Este mes'];
  }
</script>
</body>
</html>
