<!DOCTYPE html>
<html>
<head>
  <title>Angry Birds Fan Club</title>
  <link rel="shortcut icon" href="/favicon1.ico" />
  <link rel="stylesheet" href="/css/stylesheetAll.css">
  <link rel="stylesheet" type="text/css" href="/css/stylesheetNoScript.css" />
  <link rel="stylesheet" type="text/css" href="/css/stylesheetLoad.css" />
  <link rel="stylesheet" type="text/css" href="/css/stylesheetadmin.css" />
</head>
<body>
<div id="loading">
  <div id="background"></div>
  <div id="midground"></div>
  <div id="foreground"></div>
  <div id="tapa"></div>
  <div class="bokeh">
    <img id="bokeh1" src="/picture/space/ice.png" height="100px" >
    <img id="bokeh2" src="/picture/space/bomb.png" height="100px">
    <img id="bokeh3" src="/picture/space/green.png" height="100px">
    <img id="bokeh4" src="/picture/space/laser.png" height="100px">
    <div id="circulo"></div>
  </div>
  <div id="bokehText">
    <p>Cargando...</p>
  </div>
</div>
<div id="page">
  <% contador=0%>
  <div id="visorVideoPantallaCompleta" onkeydown="tecla(event);" onclick="hideVisor()">
    <% @videos.each do |vid| %>
        <div class="proyector" id="proyector<%=contador%>" onkeydown="tecla(event);" style="display: none;">
          <img id="close_proyector" src="/picture/icon-close.png" class="close" onclick="hideVisor()" />
          <iframe class="iframePantallaCompleta" id="iframePantallaCompleta<%=contador%>" src= <%= vid.url%>  onkeydown="tecla(event);"></iframe>
          <%contador +=1%>
        </div>
    <% end %>
  </div>
  <div id="espera">
    <div id="espera_img">
      <img src="/picture/gif_loading/5.gif"/>
      <div id="followingBallsG">
        <div id="followingBallsG_1" class="followingBallsG">
        </div>
        <div id="followingBallsG_2" class="followingBallsG">
        </div>
        <div id="followingBallsG_3" class="followingBallsG">
        </div>
        <div id="followingBallsG_4" class="followingBallsG">
        </div>
      </div>
    </div>

  </div>

  <div id="body">
    <div id="header">
      <p>Administrador</p>
      <ul>
        <a href="/admin">
          <li>
            Resumen
          </li>
        </a>
        <a href="/admin/usuarios">
          <li>
            Usuarios
          </li>
        </a>
        <a href="/admin/noticias">
          <li>
            Noticias
          </li>
        </a>
        <a href="/admin/imagenes">
          <li>
            Imagenes
          </li>
        </a>
        <li class="seleccionado">
          Videos
        </li>
      </ul>
    </div>
    <div id="main">
      <div id="filtro_busq">
        <h1 style="position: relative;text-align: center;margin:20px auto;border: none">Filtro de búsqueda</h1>
        <div class="limitador3"></div>
        <label>Titulo:</label>
        <input class="txtInput" type="text" id="video_titulo">
        <br/>
        <div class="limitador3"></div>
        <input type="button" value="Listar Todos" id="boton_all">
        <input type="button" value="Buscar" id="boton_buscar">

      </div>
      <div id="filtro_busq_boton" class="filtro_busq_boton_show">Mostrar Filtros</div>
      <div id="listadoVideo">
        <% contador=0%>
        <% @videos.each do |vid| %>
            <div id="vid_<%=vid.id%>">
              <div class="limitador"></div>
              <div class="itemVideo">
                <h1><%= vid.titulo %></h1>
                <div class="limitador3"></div>
                <div  class="video_conteiner" >
                  <img src="<%= VideoInfo.get(vid.url).thumbnail_large %>" onclick="showVisor(<%= contador%>,<%= @videos.size%>);">
                  <img class="play" src="/picture/playYouTuBe.png" >
                </div>
                <div class="limitador3"></div>
                <p style="margin: 0 auto; color: #000000; text-align: center;text-shadow: none; font-weight: normal; font-size: 20px">(Publicado por: <a style="text-decoration: none;color: #000000; text-shadow: 0 0 2px white" href="/admin/usuarios/<%=vid.persona.id%>"><%= vid.persona.username%></a>)</p>
                <div class="limitador3"></div>
                <a href="/videos/<%=vid.id%>/edit" style="text-decoration: none; position: relative; margin: 0 20px 0 20px" ><div class="boton">Editar</div></a>
                <input type="button" style="cursor: pointer" value="Eliminar" class="boton" onclick="eliminar(<%=vid.id%>)">

              </div>
              <div class="limitador"></div>
            </div>
            <%contador +=1%>
        <%end%>
        <%= will_paginate @videos, :previous_label => t("< anterior"), :next_label => t("siguiente >"), :page_gap => "...", :outer_window   => '1', :inner_window => '1', :link_separator => ' - ' %>
      </div>
    </div>
  </div>
  <div id="footer"></div>
</div>

</body>
<script src= '/js/scriptLoad.js' > </script>
<script language="javascript">
    window.onload = inicio;
</script>
<noscript><div id="noscript"><br/>Javascript deshabilitado: para poder apreciar la pagina web por favor activa javascript en tu navegador</div></noscript>
<script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js" ></script>
<script src="/js/jquery.backgroundPosition.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){

        $('#midground').css({backgroundPosition: '0px 0px'});
        $('#foreground').css({backgroundPosition: '0px 0px'});
        $('#background').css({backgroundPosition: '0px 0px'});

        $('#midground').animate({
            backgroundPosition:"(-10000px -2000px)"
        }, 240000, 'linear');

        $('#foreground').animate({
            backgroundPosition:"(-10000px -2000px)"
        }, 120000, 'linear');

        $('#background').animate({
            backgroundPosition:"(-10000px -2000px)"
        }, 480000, 'linear');

    });
</script>
<script src= '/js/script3.js' > </script>
<script>
    $(function() {
        if ($.browser.opera || $.browser.msie ) {
            alert( "Por favor no uses este navegador. Usa firefox o Chrome. Si no los tienes instalalos." );
        }
    });
</script>
<script>
    (function($) {
        $.get = function(key)   {
            key = key.replace(/[\[]/, '\\[');
            key = key.replace(/[\]]/, '\\]');
            var pattern = "[\\?&]" + key + "=([^&#]*)";
            var regex = new RegExp(pattern);
            var url = unescape(window.location.href);
            var results = regex.exec(url);
            if (results === null) {
                return null;
            } else {
                return results[1];
            }
        }
    })(jQuery);

    function to_bolean(string){
        if(string == "true"){
            return true;
        }else{
            return false;
        }

    }
</script>
<script>
    $(function(){
        $("#video_titulo").val($.get("tit"));
    });
</script>
<script>
    $("#filtro_busq_boton").click(function(){
        $("#filtro_busq").toggle("blind");
        $("#filtro_busq_boton").toggleClass("filtro_busq_boton_hide");
        $("#filtro_busq_boton").toggleClass("filtro_busq_boton_show");
        var texto = $("#filtro_busq_boton").html();
        if(texto == "Mostrar Filtros"){
            $("#filtro_busq_boton").html("Ocultar Filtros");
        }else{
            $("#filtro_busq_boton").html("Mostrar Filtros");
        }
    });
    $("#boton_buscar").click(function(){
        var tit = $("#video_titulo").val();
        var url = "/admin/videos?tit="+tit;
        $(location).attr('href',url)
    });
    $("#boton_all").click(function(){
        $(location).attr('href',"/admin/videos")
    });
</script>
<script>
    function eliminar(id){
        var id_video = "#vid_"+id;
        var url = "/videos/"+id+"/delete";
        $("#espera").show();
        var request = $.ajax({
            type: "GET",
            url: url
        });

        request.done(function(  ) {
            $("#espera").hide();
            $(id_video).hide("blind",2000);
        });
        request.fail(function(){
            $("#espera").hide();
        });
    }
</script>
</html>
