<!DOCTYPE html>
<html>
<head>
    <title>Angry Birds Fan Club</title>
    <link rel="shortcut icon" href="/favicon1.ico" />
    <link rel="stylesheet" href="/css/stylesheetLogin.css">
    <link rel="stylesheet" href="/css/stylesheetNoScript.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheetLoad.css" />
  </head>
  <body>
		
   <div id="body">
	<div id="header" style="margin-top: 0px;">
		<div id="imagen">
			<img  src="/picture/logo2.png"  height="150" >
		</div>
	</div>
	<div>
	<% if flash[:alert] %>
           	<div id="cont_noticia"> <p id="noticia"><%= flash[:alert] %></p><button type="button" class="close" data-dismiss="alert" onclick="hide('cont_noticia')">&times;</button></div>
  	<% end %>
	</div>
   	<div id="mensaje" >
	
            <%=form_tag  do%> 
		<div>
		    <br/>
		    <%= password_field_tag :password, params[:password], :placeholder=> 'Contraseña',:class => 'txtInput'%>
		</div>
		<br/>
		<div>
		    <%= password_field_tag :password_confirmation, params[:repassword], :placeholder=> 'Verificacion de Contraseña',:class => 'txtInput'%>
		</div>
		<div>
			<%= submit_tag "", :class => 'boton1' %>
			<a>
				<img src="/picture/btn_cancel1.png" width="80" class="btn-mail" id="btn_email2">
			</a> 
		</div>
            <% end %>
	</div>
   </div>
   <div id="footer">
   
   </div>
   <script src= '/js/script1.js' > </script>
        <script src= '/js/scriptLoad.js' > </script>
        <script language="javascript">
                window.onload = inicio;
            </script>
        <noscript><div id="noscript"><br/>Javascript deshabilitado: para poder apreciar la pagina web por favor activa javascript en tu navegador</div></noscript>
  </body>
</html>
