<div id="visorNoticia" class="borde">
    <img id="icono" src="/picture/noticia_icono.png" />
    <a href="/noticias" >
        
            <div id="slider">
    
                <div id="mover">
            
                    <div id="slide-1" class="slide">
                    
                        <h1><%= @noticias.at(0).titulo%></h1>
                        
                        <%if @noticias.at(0).cuerpo.size < 200 %>
                            <%=simple_format @noticias.at(0).cuerpo%>
                        <%else%>
                            <%=simple_format @noticias.at(0).cuerpo.at(0..197) +"..."%>
                        <%end%>
                        
                        <%if @noticias.at(0).imagen.nil? %>
                            <img src="/picture/newspaper.jpg" />
                        <%else%>
                            <img src=" <%= @noticias.at(0).imagen.url %>"/>
                        <%end%>
                        
                    </div>
                    
                    <div class="slide">
                    
                        <h1><%= @noticias.at(1).titulo%></h1>
                        
                        <%if @noticias.at(1).cuerpo.size < 200 %>
                            <%=simple_format @noticias.at(1).cuerpo%>
                        <%else%>
                            <%=simple_format @noticias.at(1).cuerpo.at(0..197) +"..."%>
                        <%end%>
                        
                        <%if @noticias.at(1).imagen.nil? %>
                            <img src="/picture/newspaper.jpg" />
                        <%else%>
                            <img src=" <%= @noticias.at(1).imagen.url %>"/>
                        <%end%>
                        
                    </div>
                    
                    <div class="slide">
                    
                        <h1><%= @noticias.at(2).titulo%></h1>
                        
                        <%if @noticias.at(2).cuerpo.size < 200 %>
                            <%=simple_format @noticias.at(2).cuerpo%>
                        <%else%>
                            <%=simple_format @noticias.at(2).cuerpo.at(0..197) +"..."%>
                        <%end%>
                        
                        <%if @noticias.at(2).imagen.nil? %>
                            <img src="/picture/newspaper.jpg" />
                        <%else%>
                            <img src=" <%= @noticias.at(2).imagen.url %>"/>
                        <%end%>
                        
                    </div>
                
                    <div class="slide">
                    
                        <h1><%= @noticias.at(3).titulo%></h1>
                        
                        <%if @noticias.at(3).cuerpo.size < 200 %>
                            <%=simple_format @noticias.at(3).cuerpo%>
                        <%else%>
                            <%=simple_format @noticias.at(3).cuerpo.at(0..197) +"..."%>
                        <%end%>
                        
                        <%if @noticias.at(3).imagen.nil? %>
                            <img src="/picture/newspaper.jpg" />
                        <%else%>
                            <img src=" <%= @noticias.at(3).imagen.url %>"/>
                        <%end%>
                        
                    </div>
                </div>
            
            </div>
            
    </a>
</div>