<div id="visorVideo"  style="height: 500px;" class="borde" >
   <img id="icono" src="/picture/video_icono.png" />
   <div id="experiment">
        <div id="cube">
            <div class="one">
                <img class="imagenVideo" src="<%=VideoInfo.get(@videos.at(0).url).thumbnail_large %>" >
                <img class="play" src="/picture/playYouTuBe.png">
                <a class="covertor" href="/videos" ></a>
            </div>
            <div class="two">
                <img class="imagenVideo" src="<%=VideoInfo.get(@videos.at(1).url).thumbnail_large %>" >
                <img class="play" src="/picture/playYouTuBe.png">
                <a class="covertor" href="/videos" ></a>
            </div>
            <div class="three">
                <img class="imagenVideo" src="<%=VideoInfo.get(@videos.at(2).url).thumbnail_large %>" >
                <img class="play" src="/picture/playYouTuBe.png">
                <a class="covertor" href="/videos" ></a>
            </div>
            <div class="four">
                <img class="imagenVideo" src="<%=VideoInfo.get(@videos.at(3).url).thumbnail_large %>" >
                <img class="play" src="/picture/playYouTuBe.png">
                <a class="covertor" href="/videos" ></a>
            </div>
            <div class="five">
                <img class="imagenVideo" src="<%=VideoInfo.get(@videos.at(4).url).thumbnail_large %>" >
                <img class="play" src="/picture/playYouTuBe.png">
                <a class="covertor" href="/videos" ></a>
            </div>
            <div class="six">
                <img class="imagenVideo" src="<%=VideoInfo.get(@videos.at(5).url).thumbnail_large %>" >
                <img class="play" src="/picture/playYouTuBe.png">
                <a class="covertor" href="/videos" ></a>
            </div>
        </div>
    </div>
    <a class="covertor" href="/videos" ></a>
</div>
