 <ul id="listado_videos" class="borde"> 
 <% contador=0%> 
<% @videos.each do |app| %>
     <li>  
         <div class="video-borde"  onclick="showVisor(<%= contador%>,<%= @videos.size%>);" style="cursor: pointer;">
            <div class="contenedor">                    
                <div class="titulo_video">
                      <p><%= app.titulo %></p>
                </div>
                <div  class="video_conteiner" width="480px" height="360px" >
                    <img src="<%= VideoInfo.get(app.url).thumbnail_large %>"> 
                    <img class="play2" src="/picture/playYouTuBe.png" >
                    
                </div>
             </div>
        </div>
        <div id="etiqueta_eliminar" class="etiqueta_funcion">
            <%id_eliminar = "eliminar" + contador.to_s%>            
            <a id="<%=id_eliminar%>"> Eliminar </a>
            <img src="/picture/delete.png"/>
        </div>
        <div id="etiqueta_editar" class="etiqueta_funcion">
            <p><%= link_to 'Editar', edit_video_path(app) %></p>
            <img src="/picture/edit.png"
        </div>
            
    </li>
    <%contador +=1%>
<% end %>
</ul>
<%= will_paginate @videos, :previous_label => t("< anterior"), :next_label => t("siguiente >"), :page_gap => "...", :outer_window   => '1', :inner_window => '1', :link_separator => ' - ' %>