<!DOCTYPE html>
<html>
<head>
    <title>Angry Birds Fan Club</title>
    <link rel="shortcut icon" href="/favicon1.ico" />
        <link rel="stylesheet" href="/css/stylesheet2.css">
        <link rel="stylesheet" href="/css/stylesheet3.css">
        <link rel="stylesheet" type="text/css" href="/css/stylesheetNoScript.css" />
        <link rel="stylesheet" type="text/css" href="/css/stylesheetLoad.css" />
        <%= javascript_include_tag 'jquery' %>
</head>
<body onkeydown="tecla(event);">
    <div id="loading">
        <div id="background"></div>
        <div id="midground"></div>
        <div id="foreground"></div>
        <div id="tapa"></div>
        <div class="bokeh">
                <img id="bokeh1" src="/picture/space/ice.png" height="100px" >
                <img id="bokeh2" src="/picture/space/bomb.png" height="100px">
                <img id="bokeh3" src="/picture/space/green.png" height="100px">
                <img id="bokeh4" src="/picture/space/laser.png" height="100px"> 
            <div id="circulo"></div>
        </div>
            <div id="bokehText">
            <p>Cargando...</p>
        </div>
        
    </div>
    <% contador=0%>
    <div id="visorVideoPantallaCompleta" onkeydown="tecla(event);" onclick="hideVisor()">
        <% @videos.each do |app| %>
        <div class="proyector" id="proyector<%=contador%>" onkeydown="tecla(event);" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" onclick="hideVisor()">&times;</button>
            <iframe class="iframePantallaCompleta" id="iframePantallaCompleta<%=contador%>" src= <%= app.url%>  onkeydown="tecla(event);"></iframe>
            <%contador +=1%>
        </div>
        <% end %>
    </div>
    
    <div id="page">
        
        <div id="conteiner">


    
        <div id="body">
        
                <div id="header">
                        <div id="imagen">
                            <img src="/picture/logo2.png"  height="75" >
                    </div>
                </div>
                <div id="navegador" class="borde">
                        <nav >
                                <ul>
                                    <li><a href="/start" >Inicio</a></li>
                                    <li><a href="/noticia" >Noticias</a></li>
                                    <li><a href="/imagenes" >Imágenes</a></li>
                                    <li><a href="/videos" >Videos</a></li>
                                </ul>
                                
                    </nav>
                    <img src=<%= session[:genero] ? ("/picture/hombre.png") : ("/picture/mujer.png") %> src="" id="fotoPerfil" >
                </div>
                <div id="titulo" class="borde">
                    Videos
                    <img src="/picture/video_icono.png" />
                </div>
                <div id="accesoDirecto" class="borde">
                    <a href="/videos/new" >
                        <div id="accesoDirecto1">
                            Agregar Video
                        </div>
                    </a>
                    <a href="/mis_videos" >
                        <div id="accesoDirecto2">
                            Mis Videos
                        </div>
                    </a>
                </div>
                <div id="contenido" width="1022px" >
                    <% if flash[:alert] %>
                        <div id="mensajes" ><p> <%= flash[:alert]%> </p><button type="button" class="close" data-dismiss="alert" style="position: absolute; top: 0; right: 10px; color: white; opacity: 0.5" onclick="hide('mensajes')">&times;</button></div>
                    <% end %>
                    <div id="pagListado">
                        <%= render 'listado' %>
                    </div>
                </div>        
        </div>
        <div id="footer">
            <a href="/logout"  >
                <img src="/picture/exit1.png" style=" margin-top: 30px; margin-left: 20px;">
            </a>
        </div>
        
    </div>    
    </div>
    
    <script src= '/js/scriptLoad.js' > </script>
    <script src= '/js/script2.js' > </script>
        <script language="javascript">
                window.onload = inicio;
            </script>
        <noscript><div id="noscript"><br/>Javascript deshabilitado: para poder apreciar la pagina web por favor activa javascript en tu navegador</div></noscript>
        <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
    <script src="js/jquery.backgroundPosition.js" type="text/javascript"></script>
    <script src="js/pagination.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
        
          $('#midground').css({backgroundPosition: '0px 0px'});
          $('#foreground').css({backgroundPosition: '0px 0px'});
          $('#background').css({backgroundPosition: '0px 0px'});
        
            $('#midground').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 240000, 'linear');
            
            $('#foreground').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 120000, 'linear');
            
            $('#background').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 480000, 'linear');
            
        });
    </script>
    
</body>
</html>
