<h1>Listing tipo_usuario_funcionalidads</h1>

<table>
  <tr>
    <th>Tipousuario</th>
    <th>Funcionalidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_usuario_funcionalidads.each do |tipo_usuario_funcionalidad| %>
  <tr>
    <td><%= tipo_usuario_funcionalidad.tipoUsuario_id %></td>
    <td><%= tipo_usuario_funcionalidad.funcionalidad %></td>
    <td><%= link_to 'Show', tipo_usuario_funcionalidad %></td>
    <td><%= link_to 'Edit', edit_tipo_usuario_funcionalidad_path(tipo_usuario_funcionalidad) %></td>
    <td><%= link_to 'Destroy', tipo_usuario_funcionalidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo usuario funcionalidad', new_tipo_usuario_funcionalidad_path %>
