<p id="notice"><%= notice %></p>

<p>
  <b>Tipousuario:</b>
  <%= @tipo_usuario_funcionalidad.tipoUsuario_id %>
</p>

<p>
  <b>Funcionalidad:</b>
  <%= @tipo_usuario_funcionalidad.funcionalidad %>
</p>


<%= link_to 'Edit', edit_tipo_usuario_funcionalidad_path(@tipo_usuario_funcionalidad) %> |
<%= link_to 'Back', tipo_usuario_funcionalidads_path %>
