<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @funcionalidad.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @funcionalidad.descripcion %>
</p>


<%= link_to 'Edit', edit_funcionalidad_path(@funcionalidad) %> |
<%= link_to 'Back', funcionalidads_path %>
