<h1>Listing imagens</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Updated at</th>
    <th>Persona</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @imagens.each do |imagen| %>
  <tr>
    <td><%= imagen.url %></td>
    <td><%= imagen.updated_at %></td>
    <td><%= imagen.persona_id %></td>
    <td><%= link_to 'Show', imagen %></td>
    <td><%= link_to 'Edit', edit_imagen_path(imagen) %></td>
    <td><%= link_to 'Destroy', imagen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Imagen', new_imagen_path %>
