<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @imagen.url %>
</p>

<p>
  <b>Updated at:</b>
  <%= @imagen.updated_at %>
</p>

<p>
  <b>Persona:</b>
  <%= @imagen.persona_id %>
</p>


<%= link_to 'Edit', edit_imagen_path(@imagen) %> |
<%= link_to 'Back', imagens_path %>
