<!DOCTYPE html>
<html>
<head>
    <title>Angry Birds Fan Club</title>
    <link rel="shortcut icon" href="/favicon1.ico" />
			<link rel="stylesheet" href="/css/stylesheet1.css">
			<link rel="stylesheet" href="/css/stylesheet4.css">
</head>
<body>
	<div id="body">
	


		<%= form_for(@persona) do |f| %>
  		
  	<div class="field">
			  <h1>
			   Nuevo Usuario 
			  </h1>
	</div>
	<div class="field" style="background-image: none; padding: 0; height: 400px;">
	    <img src="/picture/areyou.jpg" height="400px" width="100%" />
	</div>	
		
	<% if @persona.errors.any? %>
        <div id="error">
        	<div id="error_title">
          		<h2>Error en la registración, se <%= @persona.errors.count > 1 ? "han" : "ha" %> encontrado <%= @persona.errors.count%> <%= @persona.errors.count > 1 ? "errores" : "error" %>:</h2>
    	   </div>
           <ul>
           <% @persona.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
           <% end %>
           </ul>
        </div>
   <% end %>
  
  	<div class="field">
   		<%= f.label "Nombre:"%><br />
   		<%= f.text_field :nombre , :size => 15, :class => 'txtInput' %>
   		
  	</div>
  	<div class="field">
   		<%= f.label "Apellido:" %><br />
      <%= f.text_field :apellido, :size => 15 ,:class => 'txtInput'%>
   </div>
   <div class="field">
      <%= f.label "Usuario:" , :class=>"control-label" %>
      <br />
      <%= f.text_field :username, :size => 40 ,:class => 'txtInput'%>
   </div>
   <div class="field">
      <%= f.label "E-Mail:" %><br />
      <%= f.text_field :email ,:class => 'txtInput'%>
   </div>
   <div class="field">
     <%= f.label "Género:" %><br />
	<div id="genero">
		<span class="cool_checkbox">
			<%= f.check_box :genero %>
				<label for="persona_genero">
					<span><p class="etiqueta_genero">Hombre</p> <img src="/picture/hombre.png"> </span>
					<span>
						<span>/</span>
					</span>
					<span><p class="etiqueta_genero">Mujer</p> <img src="/picture/mujer.png" ></span>
				</label>
		</span>  
	</div>
   </div>
   <div class="field">
     <%= f.label "Fecha de Nacimiento:" %><br />

     <%= f.date_select :fechaNacimiento,:order => [:day, :month, :year], start_year: @year_inicio, end_year: @year_fin, :id => 'fecha' %>
   </div>
   <div class="field">
     <%= f.label "Contraseña:" , :class=>"control-label" %>
     <%= f.password_field :password, :size => 40 ,:class => 'txtInput'%>
   </div>
 
   <div class="field">
     <%= f.label "Confirmar Contraseña:" , :class=>"control-label"%>
     <br />
     <%= f.password_field :password_confirmation, :size => 40 ,:class => 'txtInput'%>
   </div>

   <div class="field2" style="height: 110px;">     
     <a href="/login">
     		<div id="cancel"></div>
     </a>
     <%= f.submit '', :class=> 'guardar' %>  
   </div>
 <% end %>


 
 </div>
</body>
</html>
