<!DOCTYPE html>
<html>
<head>
    <title>Angry Birds Fan Club</title>
    <link rel="shortcut icon" href="/favicon1.ico" />
    <link rel="stylesheet" href="/css/stylesheetNoticia.css">
    <link rel="stylesheet" href="/css/stylesheetAll.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheetNoScript.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheetLoad.css" />
</head>
<body>
    <div id="loading">
        <div id="background"></div>
        <div id="midground"></div>
        <div id="foreground"></div>
        <div id="tapa"></div>
        <div class="bokeh">
                <img id="bokeh1" src="/picture/space/ice.png" height="100px" >
                <img id="bokeh2" src="/picture/space/bomb.png" height="100px">
                <img id="bokeh3" src="/picture/space/green.png" height="100px">
                <img id="bokeh4" src="/picture/space/laser.png" height="100px"> 
            <div id="circulo"></div>
        </div>
            <div id="bokehText">
            <p>Cargando...</p>
        </div>
        
    </div>
    
    <div id="page">
        <%contador = 0%>
        <% @noticia.each do |app| %>
            <% id_fondo = "fondo_eliminar" + contador.to_s%>
            <div id= "<%=id_fondo%>" class="fondo_eliminar">
                <div>
                    ¿Desea Eliminar esta noticia?
                    <% id_cancel = "cancel_eliminar" + contador.to_s%>
                    <a id="<%=id_cancel%>">Cancelar </a>
                    <%url = "/noticia/"+app.id.to_s + "/delete" %>
                    <%= link_to "Eliminar", url%>
                </div>
            </div>
            <%contador +=1%>
        <%end%>
        <div id="body" >
        
                <div id="header">
                        <div id="imagen">
                            <img src="/picture/logo2.png"  height="75" >
                    </div>
                </div>
                <div id="navegador" class="borde">
                        <nav >
                                <ul>
                                    <li><a href="/start" >Inicio</a></li>
                                    <li><a href="/noticias" >Noticias</a></li>
                                    <li><a href="/imagenes" >Imágenes</a></li>
                                    <li><a href="/videos" >Videos</a></li>
                                </ul>
                                
                    </nav>
                    <img src=<%= session[:genero] ? ("/picture/hombre.png") : ("/picture/mujer.png") %> src="" id="fotoPerfil" >
                </div>
                <div id="titulo" class="borde">
                    Mis Noticias
                    <img src="/picture/noticia_icono.png" />
                </div>
                <div id="accesoDirecto" class="borde">
                    <a href="/noticia/new" >
                        <div id="accesoDirecto1">
                            Agregar Noticia
                        </div>
                    </a>
                    <a href="/noticias" >
                        <div id="accesoDirecto2">
                           Noticias
                        </div>
                    </a>
                </div>
                <div id="contenedor_mensaje">
                    <% if flash[:alert] %>
                        <div id="mensajes" ><p> <%= flash[:alert]%> </p><button type="button" class="close" data-dismiss="alert" style="position: absolute; top: 0; right: 10px; color: white; opacity: 0.5" onclick="hide('mensajes')">&times;</button></div>
                    <% end %>
                </div>
                <%if @noticia.size > 0 %>
                    <%= render 'mi_listado' %>
                <%else%>
                    <%= render 'nada' %>
                <%end%>
        </div>
        
        <div id="footer">
            <a href="/logout"  >
                <img src="/picture/exit1.png" style=" margin-top: 30px; margin-left: 20px;">
            </a>
        </div>
        
    </div>

    <script src= '/js/scriptLoad.js' > </script>
    <noscript><div id="noscript"><br/>Javascript deshabilitado: para poder apreciar la pagina web por favor activa javascript en tu navegador</div></noscript>
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/jquery.backgroundPosition.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
        
          $('#midground').css({backgroundPosition: '0px 0px'});
          $('#foreground').css({backgroundPosition: '0px 0px'});
          $('#background').css({backgroundPosition: '0px 0px'});
        
            $('#midground').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 240000, 'linear');
            
            $('#foreground').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 120000, 'linear');
            
            $('#background').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 480000, 'linear');
            
        });
    </script>
    <script>
        $(function(){
          inicio();
        });
    </script>
    <script>
        <%contador = 0%>
        <% @noticia.each do |app| %>
            <%id_elim = "#eliminar" + contador.to_s%>
            <%id_fondo_elim = "#fondo_eliminar" + contador.to_s%>
            <%id_cancel_elim = "#cancel_eliminar" + contador.to_s%>
            
            $( "<%=id_elim.to_s%>" ).click(function() {
              $( "<%=id_fondo_elim.to_s%>" ).show( "puff", 700 );
            });
            $( "<%=id_cancel_elim.to_s%>" ).click(function() {
              $( "<%=id_fondo_elim.to_s%>" ).hide( "scale", 500 );
            });
            <%contador +=1%>
        <%end%>
    </script>   
</body>
</html>
