<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon1.ico" />
    <link rel="stylesheet" href="/css/stylesheetNoticia.css">
    <link rel="stylesheet" href="/css/stylesheetAll.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheetNoScript.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheetLoad.css" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=221467778006567";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <%= csrf_meta_tag %>
</head>
<body onkeydown="tecla(event);">
    <div id="loading">
        <div id="background"></div>
        <div id="midground"></div>
        <div id="foreground"></div>
        <div id="tapa"></div>
        <div class="bokeh">
                <img id="bokeh1" src="/picture/space/ice.png" height="100px" >
                <img id="bokeh2" src="/picture/space/bomb.png" height="100px">
                <img id="bokeh3" src="/picture/space/green.png" height="100px">
                <img id="bokeh4" src="/picture/space/laser.png" height="100px"> 
            <div id="circulo"></div>
        </div>
            <div id="bokehText">
            <p>Cargando...</p>
        </div>
        
    </div>
    <div id="pantallaCompleta">
        <div class="img">
            <img src="/picture/icon-close.png" id="nav-close" onclick="salirPantallaCompleta()" />
            <%unless @noticium.imagen.nil?%>
                <img id="picture" src="<%= @noticium.imagen.url%>" />
            <%end%>
        </div>
    </div>
    <div id="page">
        <div id="notificacion">
            <div class="circulo">
              <img src="/picture/icon/notificacion.png" width="50" height="50" />  
            </div>
            <div class="triangulo"></div>
            <div id="notif_min" class="notifica">
                <%if @notificaciones.nil?%>
                    <%=0%>
                <%else%>
                    <%=@notificaciones.size%>
                <%end%>
            </div>
            <div id="notif_max" class="notifica">
                <div id="notificaciones">
                    <%unless @notificaciones.nil?%>    
                        <%= render :partial => @notificaciones%>
                    <%end%>
                </div>
                <div id="all_notificaciones" >
                    <a href="/notificaciones">
                        Todas las las notificaciones
                    </a>
                </div>
            </div>
        </div>
        <div id="fondo_eliminar">
            <div>
                ¿Desea Eliminar esta noticia?
                <a id="cancel_eliminar">Cancelar </a>
                <%url = "/noticia/"+@noticium.id.to_s + "/delete" %>
                <%= link_to "Eliminar", url%>
            </div>
        </div>
        <div id="body">
        
                <div id="header">
                        <div id="imagen">
                            <img src="/picture/logo2.png"  height="75" >
                    </div>
                </div>
                <div id="navegador" class="borde">
                        <nav >
                                <ul>
                                    <li><a href="/start" >Inicio</a></li>
                                    <li><a href="/noticias" >Noticias</a></li>
                                    <li><a href="/imagenes" >Imágenes</a></li>
                                    <li><a href="/videos" >Videos</a></li>
                                </ul>
                                
                    </nav>
                    <img src=<%= session[:genero] ? ("/picture/hombre.png") : ("/picture/mujer.png") %> src="" id="fotoPerfil" >
                </div>
                <div id="titulo" class="borde">
                    Leer Noticia
                </div>
                <div id="accesoDirecto" class="borde">
                    <a href="/noticias" >
                        <div id="accesoDirecto1">
                            Noticias
                        </div>
                    </a>
                    <a href="/mis_noticias" >
                        <div id="accesoDirecto2">
                            Mis Noticias
                        </div>
                    </a>
                </div>
                        
        </div>
        <div id="contenedor_mensaje">
            <% if flash[:alert] %>
                <div id="mensajes" ><p> <%= flash[:alert]%> </p><button type="button" class="close" data-dismiss="alert" style="position: absolute; top: 0; right: 10px; color: white; opacity: 0.5" onclick="hide('mensajes')">&times;</button></div>
            <% end %>
        </div>
        <div id="noticia">
            <h1><%= @noticium.titulo%></h1>
            <%unless @noticium.imagen.nil?%>
                <img src="<%= @noticium.imagen.url%>" onclick="pantallaCompleta()" />
            <%end%>
            <%= simple_format @noticium.cuerpo %>
            <%if session[:usuario_id] == @noticium.persona.id %>
            <div id="acciones_noticia">
                <%= link_to 'Editar', edit_noticium_path(@noticium) %>
                <a id="eliminar"> Eliminar </a>
            </div>
            <%end%>            
        </div>
	<div id="ranking">
	    <%unless @califico%>
          <div id="star">
            <a><img id="star1" src="/picture/icon/star2.png" width="50"/></a>
            <a><img id="star2" src="/picture/icon/star2.png" width="50"/></a>
            <a><img id="star3" src="/picture/icon/star2.png" width="50"/></a>
          </div>
    	    <div id="calificacion">
    		    <a><img id="star1c" src="/picture/icon/star2.png" width="50"/></a>
    		    <a><img id="star2c" src="/picture/icon/star2.png" width="50"/></a>
    		    <a><img id="star3c" src="/picture/icon/star2.png" width="50"/></a>
    	    </div>
	    <%else%>
            <div id="star">
              <% if @promedio < 1.5%>
                  <img id="star1c" src="/picture/icon/star.png" width="50"/>
                  <img id="star2c" src="/picture/icon/star2.png" width="50"/>
                  <img id="star3c" src="/picture/icon/star2.png" width="50"/>
              <% else %>
                  <% if @promedio < 2.5%>
                      <img id="star1c" src="/picture/icon/star.png" width="50"/>
                      <img id="star2c" src="/picture/icon/star.png" width="50"/>
                      <img id="star3c" src="/picture/icon/star2.png" width="50"/>
                  <% else %>
                      <img id="star1c" src="/picture/icon/star.png" width="50"/>
                      <img id="star2c" src="/picture/icon/star.png" width="50"/>
                      <img id="star3c" src="/picture/icon/star.png" width="50"/>
                  <% end %>
              <% end %>
            <p>Calificación: <span id="califi_promedio"><%=@promedio%></span>/<span id="califi_total">3</span></p>
            </div>
        <%end%>

	    <div id="msj_califi">
		Gracias por su calificación.
	    </div>
	    <div id="socials">
	        
	           <div class="fb-like" data-href="http://angrybirdsfc.herokuapp.com/Noticias/<%=@noticium.id.to_s%>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>    
	        	        
	           <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @noticium.titulo%>" data-lang="es">Twittear</a>    
	        
	           <g:plusone size="medium"></g:plusone>    
	        
	    </div>
	</div>

	   <div  id="comentarios">
         <%if @comentarios.size > 0 %>
		    <%= render :partial => @comentarios%>
         <%end%>
	   </div>

        <div id = "new_comment">
            <%= form_tag({controller: "comments", action: "create", noticia:  @noticium.id.to_s, usuario: @usuario_id.to_s} , 'data-type' => 'json', :id=> "form_comment", :remote => "true")  do |f|  %>
                <div id="text_comment">
                    <%= text_area_tag :text_area_comment %>
                </div>
                <div id="botonera_comment">
                    <%= submit_tag 'Comentar', :id=> 'boton_comment'%>
                </div>
            <%end%>
            <div id="comment_loading">
                <img src="/picture/gif_loading/4.gif" />
            </div>
        </div>
        <div id="footer">
            <a href="/logout"  >
                <img src="/picture/exit1.png" style=" margin-top: 30px; margin-left: 20px;">
            </a>
        </div>
    </div>
    <script src= '/js/scriptLoad.js' > </script>
    
    <script language="javascript">
            window.onload = inicio;
        </script>
    <noscript><div id="noscript"><br/>Javascript deshabilitado: para poder apreciar la pagina web por favor activa javascript en tu navegador</div></noscript>
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.3.custom.min.js" ></script>
    <script type="text/javascript" src="/js/jquery.timer.js" ></script>
    <script src="/js/jquery.backgroundPosition.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
        
          $('#midground').css({backgroundPosition: '0px 0px'});
          $('#foreground').css({backgroundPosition: '0px 0px'});
          $('#background').css({backgroundPosition: '0px 0px'});
        
            $('#midground').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 240000, 'linear');
            
            $('#foreground').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 120000, 'linear');
            
            $('#background').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 480000, 'linear');
            
        });
    </script>
    
    <script src="/js/jquery.slickwrap.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('#noticia img').slickWrap();
            
        });
    </script>
    <script>
        $( "#eliminar" ).click(function() {
          $( "#fondo_eliminar" ).show( "puff", 700 );
        });
        $( "#cancel_eliminar" ).click(function() {
          $( "#fondo_eliminar" ).hide( "scale", 500 );
        });
    </script>
    <script src="/js/imagen_noticia_pan_comp.js" type="text/javascript"></script>
	<script>
	  $(function() {
             if ($.browser.opera || $.browser.msie ) {
               alert( "Por favor no uses este navegador. Usa firefox o Chrome. Si no los tienes instalalos." );
	     }
      });
	</script>
	<script>
	  $(function(){
	    $("form").submit(function () {
            url = $("#form_comment").attr( 'action' );//obtiene el url declarado en el form en la propiedad action
            var serializedForm = $("#form_comment").serialize();//Obtienes los campos del formulario
            $.post(url, serializedForm,
                function(data){
                    $("#form_comment").show();
                    $("#comment_loading").hide();        
                });
            return false;
        });
      });  
	</script>
	<script>
	    $(function(){
	      $("form").submit(function () {  
	        $("#form_comment textarea").val('');
	        $("#form_comment").hide();
	        $("#comment_loading").show();
	        
	      });
	      url = $("#form_comment").attr( 'submit' );//obtiene el url declarado en el form en la propiedad action
            var serializedForm = $("#form_comment").serialize();//Obtienes los campos del formulario

            $.post(url, serializedForm,
               function(data){
                 $("#form_comment").show();
                 $("#comment_loading").hide();        
               });
            return false;   
	    });
	    
	</script>
	<script type="text/javascript">
          $(".circulo").click(function(){
            $("#notif_min").toggle(500);
            $("#notif_max").toggle(500);
          });
    </script>
    <script>
        $(function(){
            $.timer(30000, function(){
                url = "/nuevas_notificaciones"
                $.get(url, null,
                    function(data){
                        if(parseInt($("#notif_min").html()) == 0){
                            $("#notificacion").hide();      
                        }else{
                               $("#notificacion").show();
                            if(parseInt($("#notif_min").html()) > 20){
                                $('#notif_min').html("+20");      
                            }
                        }
                    });
                return false;
            });
        });
    </script>
    <script>
        $(function(){
            if(parseInt($("#notif_min").html()) == 0){
                $("#notificacion").hide();      
            }else{
                   $("#notificacion").show();
                if(parseInt($("#notif_min").html()) > 20){
                    $('#notif_min').html("+20");      
                }
            }
        });
    </script>
    <script>
        $(function(){
            $("#boton_comment").prop('disabled', true);
            $("#text_area_comment").bind('input propertychange', function() {
                 if($('#text_area_comment').val().length > 0){
                    $("#boton_comment").prop('disabled', false);
                 }else{
                    $("#boton_comment").prop('disabled', true);         
                 } 
            });
        });
    </script>
    <%unless @califico%>
	<script>
      $(function(){

          $("#star1").hover(
                  function () {
                      $("#star1").attr("src", "/picture/icon/star.png");
                  },
                  function () {
                      $("#star1").attr("src", "/picture/icon/star2.png");
                  }
          );
          $("#star2").hover(
                  function () {
                      $("#star1").attr("src", "/picture/icon/star.png");
                      $("#star2").attr("src", "/picture/icon/star.png");
                  },
                  function () {
                      $("#star1").attr("src", "/picture/icon/star2.png");
                      $("#star2").attr("src", "/picture/icon/star2.png");
                  }
          );
          $("#star3").hover(
                  function () {
                      $("#star1").attr("src", "/picture/icon/star.png");
                      $("#star2").attr("src", "/picture/icon/star.png");
                      $("#star3").attr("src", "/picture/icon/star.png");
                  },
                  function () {
                      $("#star1").attr("src", "/picture/icon/star2.png");
                      $("#star2").attr("src", "/picture/icon/star2.png");
                      $("#star3").attr("src", "/picture/icon/star2.png");
                  }
          );
      });
	</script>
	<script>
	  $("#star1").click(function(){
		$("#star").hide();
		$("#msj_califi").html("Calificando...")
		$("#msj_califi").show();
		$.post("/calificacion/<%=@noticium.id.to_s%>/nueva", {valor:1},
               function(data){
                    $("#msj_califi").html("Gracias por su calificación.");
                    $.timer(5000, function(){
                        $("#star1c").attr("src", "/picture/icon/star.png");
                        $("#calificacion").show();
                        $("#msj_califi").hide();
                    });        
               });
      });
      $("#star2").click(function(){
        $("#star").hide();
        $("#msj_califi").html("Calificando...")
        $("#msj_califi").show();
        $.post("/calificacion/<%=@noticium.id.to_s%>/nueva", {valor:2},
               function(data){
                    $("#msj_califi").html("Gracias por su calificación.");
                    $.timer(5000, function(){
                        $("#star1c").attr("src", "/picture/icon/star.png");
                        $("#star2c").attr("src", "/picture/icon/star.png");
                        $("#calificacion").show();
                        $("#msj_califi").hide();
                    });        
               });
      });
      $("#star3").click(function(){
        $("#star").hide();
        $("#msj_califi").html("Calificando...")
        $("#msj_califi").show();
        $.post("/calificacion/<%=@noticium.id.to_s%>/nueva", {valor:3},
               function(data){
                    $("#msj_califi").html("Gracias por su calificación.");
                    $.timer(5000, function(){
                        $("#star1c").attr("src", "/picture/icon/star.png");
                        $("#star2c").attr("src", "/picture/icon/star.png");
                        $("#star3c").attr("src", "/picture/icon/star.png");
                        $("#calificacion").show();
                        $("#msj_califi").hide();
                    });        
               });
      });
	</script>

	<%end%>
</body>

</html>
