<%= form_for(@calificacion) do |f| %>
  <% if @calificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calificacion.errors.count, "error") %> prohibited this calificacion from being saved:</h2>

      <ul>
      <% @calificacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :valor %><br />
    <%= f.number_field :valor %>
  </div>
  <div class="field">
    <%= f.label :persona_id %><br />
    <%= f.number_field :persona_id %>
  </div>
  <div class="field">
    <%= f.label :noticia_id %><br />
    <%= f.number_field :noticia_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
