<ul id="listado_novedades">
  <div class="limitador3"></div>
<% @novelties.each do |nov| %>
    <li id="<%= 'novedad_' + nov.id.to_s %>">
      <img class="delete" src="/picture/delete.png" data-id="<%= nov.id %>" />
      <img class="edit" src="/picture/edit.png" data-id="<%= nov.id %>" />
      <p><%= nov.message%></p>
      <div class="limitador3" style="width: 100%"></div>
    </li>
<% end %>
</ul>

<%= will_paginate @novelties, :previous_label => t("< anterior"), :next_label => t("siguiente >"), :page_gap => "...", :outer_window   => '1', :inner_window => '1', :link_separator => ' - ' %>
